.diaSetmana {
    background-color: #ffffff;
}
.textWhite {
    color: #ffffff;
}

.aw {
    background-color: #ed8aff;
}
.ipo1 {
    background-color: #ad69ff;
}
.ipo2 {
    background-color: #ffeeab;
}
.xl {
    background-color: #ff8a8a;
}
.ang {
    background-color: #ffff77;
}
.ao {
    background-color: #8aff8a;
}
.mme {
    background-color: #ffb978;
}
.som {
    background-color: #8a9cff;
}
.tutoria {
    background-color: #b7b778;
}
.moptatiu {
    background-color: #a6baa2;
}